<div class="container">
  <div class="row">
    <ba-card class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" title="News" baCardClass="large-card with-scroll blog-panel">
      <blog></blog>
    </ba-card>
    <div class="col-xlg-6 col-lg-6 col-md-8 col-sm-12 col-xs-12">
       <ba-card title="Add" baCardClass="blog-comply-panel">
        <create-blog-post></create-blog-post>
      </ba-card>
      <ba-card title="Posts" baCardClass="blog-comply-panel">
        <blog></blog>
      </ba-card>
    </div>
  </div>
</div>