<ba-card title="News" baCardClass="large-card news-comply-panel with-scroll">
  <div class="news-posts-container">
    <div class="news-post" *ngFor="let post of posts" data-id="{{post._id}}" (click)="expandPost(post)">
      <div class="post-icon">
        <img class="user-avatar" src="{{ post.user.avatar || '../../../assets/img/app/profile/no-photo.png' }}">
      </div>
      <div class="text-block text-post">
        <div class="post-content line-clamp">{{ post.content.text }}
          <div class="post-content extra line-clamp">{{ post.content.extra }}
          </div>
          <div class="post-time">
            <!--<div class="post-time">
          {{ post.time }}
        </div>-->
            <div class="ago-time">
              {{ post.createdAt | date:'d'}}/{{ post.createdAt | date:'MM'}}/{{ post.createdAt | date:'y'}}&nbsp;{{ post.createdAt | date:'HH'}}:{{
              post.createdAt | date:'mm'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ba-card>
