<div class="container">
  <div class="row">
    <div class="col-xlg-6 col-lg-6 col-md-8 col-sm-12 col-xs-12">
       <ba-card title="Add" baCardClass="feed-comply-panel">
        <post-create></post-create>
      </ba-card>
      <ba-card title="Posts" baCardClass="feed-comply-panel">
        <feed></feed>
      </ba-card>
    </div>
    <ba-card class="col-xlg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" title="News" baCardClass="large-card with-scroll feed-panel">
      <feed></feed>
    </ba-card>
  </div>
</div>