<ba-card title="Topics" baCardClass="large-card forum-comply-panel with-scroll">
  <div class="forum-posts-container">
    <div class="forum-post" *ngFor="let post of forumPost$ | async" data-id="{{post._id}}" (click)="expandPost(post)">
      <div class="text-block text-post"><span class="extra">Author:&nbsp;{{ post.user.name }}</span><br/>
        <div class="post-content line-clamp">{{ post.content.title }}
          <div class="post-time">
            <!--<div class="post-time">
          {{ post.time }}
        </div>-->
            <div class="ago-time">
              {{ post.createdAt | date:'d'}}/{{ post.createdAt | date:'MM'}}/{{ post.createdAt | date:'y'}}&nbsp;{{ post.createdAt | date:'HH'}}:{{
              post.createdAt | date:'mm'}}
            </div>
          </div>
        </div>
        <div [ngClass]="{'hidden': !post.expanded}">
          <div class="forum-post-comments-wrapper">
            <div class="forum-post-comment" *ngFor="let comment of post.comments" data-id="{{comment._id}}"><span class="extra">{{comment.user.name}} said:</span>&nbsp;{{comment.content.text}}</div>
          </div>
          <create-forum-post-comment [postId]="post._id" [categoryId]="post.category"></create-forum-post-comment>
        </div>
      </div>
    </div>
  </div>
</ba-card>