@import '../../theme/sass/auth';

#logout-wait {
  $loginWaitUrl: $images-root + 'logout-wait.gif';
  background: url($loginWaitUrl);
  background-repeat: no-repeat;
  width: 475px;
  height: 333px;
  background-size: cover;
}