<div class="auth-main">
  <div *ngIf="loaded" class="auth-block">
    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li *ngIf="!busy">
          <a id="slack-login" href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=94967931141.104285476880&state=login"><img src="https://api.slack.com/img/sign_in_with_slack.png" /><img src="assets/img/sign_in_with_slack.png" /></a>
        </li>
        <li *ngIf="busy">
          <div id="login-wait"></div>
        </li>
      </ul>
    </div>
  </div>
</div>