@import '../../theme/sass/auth';

#login-wait {
  $loginWaitUrl: $images-root + 'login-wait.jpg';
  background: url($loginWaitUrl);
  background-repeat: no-repeat;
  width: 475px;
  height: 285px;
  background-size: cover;
}

#slack-login {
  img:first-child {
    display: none;
  }
}
